<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="row operational">
  <div class="col-4" style="background-color: yellow">Operational
    <div id="operational">{{operational}}</div>
  </div>
  <div class="col-5" style="background-color: aquamarine">Non-Operational
    <div id="non-operational">{{nonOperational}}</div>
  </div>
</div>


<div id="chart-container">FusionCharts XT will load here!</div>



<div>

  <button id="previous" type="button" (click)="previous()" [disabled]="previousDisabled" [style.color]="previousColor">
    Previous 50 Equipments
  </button>

  <button id="next" type="button" (click)="next()" [disabled]="nextDisabled">Next 50 Equipments</button>

</div>

