button{
  margin-right: 30px;
}

#next, #previous{
  color: dodgerblue;
}

.operationl{
  margin: 20px;
  margin-bottom: 40px;
}

.operational div{
  color: dodgerblue;
}

#operational,#non-operational{
  font-size: 60px;
}

#graph{
  margin-left: 20px;
}

#column-chart{
  //transform: translateX(-70px);
  width: 600px;
  height: 300px;
}
