<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="row operational">
  <div class="col-4" style="background-color: yellow">Operational
    <div id="operational">###</div>
  </div>
  <div class="col-5" style="background-color: aquamarine">Non-Operational
    <div id="non-operational">###</div>
  </div>
</div>
<div id="graph" class="row">
  <div id="column-chart" class="col-12"></div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" ></script>
